<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %> <!--Define onde deve ser renderizado o conteúdo de uma action dentro do layout. Por isso você não precisamos definir as tags html, head e body dentro da view de alguma action. O layout padrão da aplicação já adiciona essa estrutura.-->
  </body>
</html>
